version: '3'
services:
  mrja-01:
    image: 'mrja'
    env_file:
      - ./MRJA/env/mrja01.env
    build:
      context: ./MRJA
      dockerfile: ./Dockerfile
    ports:
      - '127.0.0.1:42001:42001'
    tty: true
  xlr-01:
    image: 'xlr'
    env_file:
      - ./XLR/env/xlr01.env
    build:
      context: ./XLR
      dockerfile: ./Dockerfile
    ports:
      - '127.0.0.1:60020:60020'
    tty: true
  smart-01:
    image: 'smart'
    env_file:
      - ./SMART/env/smart01.env
    build:
      context: ./SMART
      dockerfile: ./Dockerfile
    ports:
      - '127.0.0.1:9678:9678'
    tty: true
  mcc-01:
    image: 'mcc'
    env_file:
      - ./MCC/env/mcc01.env
    build:
      context: ./MCC
      dockerfile: ./Dockerfile
    ports:
      - '127.0.0.1:29868:29868'
    tty: true
